@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;800&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
.btn {
    font-family: 'Dosis', 'Open Sans', 'Arial', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.navbar .nav-item {
    font-size: 0.7em !important;
}

.jumbotron {
    background: linear-gradient(160deg,#4a3c40 0%,#000000 100%) !important;
}

#footer {
    /* background: linear-gradient(160deg,#4a3c40 0%,#000000 100%) !important; */
    background-color: #212121 !important;
}

#footer p,
#footer li,
#footer a {
    font-size: 14px;
}

#footer .award p {
    font-size: 20px;
}

#footer small {
    font-size: 12px !important;
}

/* Imagen de fondo */
#we-work {
    background-image: url(img/not-working-bg2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0px 30px 50px rgba(0, 0, 0, 0.80);
}

/* Agrandar menu de navegación */
a.nav-link {
    font-size: 1.2rem;
}

/* Reducir small bajo el formulario */
#form-soon small {
    font-size: 0.9rem;
}

/* Reducir small en footer */
#footer small {
    font-size: 0.9rem;
}

.btn-width {
    min-width: 200px;
}

/* COVID OFFER */
.bg-rojo {
    background: #D03333;
    box-shadow: inset 0px 10px 20px rgba(0, 0, 0, 0.25);
    font-family: 'Dosis', 'Open Sans', 'Arial', sans-serif;
}

.bg-concurso {
    box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.25);
    font-family: 'Dosis', 'Open Sans', 'Arial', sans-serif;
    background-color: #2DBDD5;
}

.bg-concurso p {
    font-size: 1.5rem;
}

.award a:hover {
    text-decoration: underline;
}

.award a {
  font-weight: 600;
}
.award {
    margin:10px 30px;
    display: flex;
}

.award p {
  margin-bottom: 4px;
  padding-bottom: 0;
  line-height: 1.5rem;
}

.award p > img {
  vertical-align: text-bottom;
  margin-right:10px;
}

.award > img {
  margin-right:20px;
  margin-bottom:10px;
}
.concurso {
  display: flex;
  flex-direction: row;
}

.featured img {
    padding: 16px;
    max-width: 250px;
}

.experts .card {
    border: none;
    margin-bottom: 20px;
}

.experts img {
    margin-bottom: 32px;
    max-width: 200px;
}

.socialproof .card-body {
  background-color:#ffffff;
}

.socialproof-author img {margin-right:30px;}

.posted-on {
  font-size:0.7em;
}

.price {
    font-size: 18px;
    color: #387EBF;
}

.price span {
    font-size: 32px;
}

.one-time-payemnt {
    opacity: 0.7;
}

.property-price {
    font-size: 18px;
}

.property-price span {
    font-size: 24px;
}

span#price-business-year, span#price-premium-year {
  font-size:18px !important;
}

.discount-tag-big {
    margin: 0 auto;
    display: inline-block;
    padding: 2px 8px;
    font-size: 20px;
}

.discount-tag {
    margin: 0 auto;
    display: inline-block;
    padding: 2px 8px;
    font-size: 14px;
}

.plan {
    padding-top: 24px;
    padding-bottom: 24px;
}

.plan ul {
    font-size: 18px;
}

.plan ul a {
    border-bottom: dashed 2px #ccc;
    text-decoration: none;
    cursor: pointer;
}

.plan ul li {
    margin-bottom: 32px;
}

.popover {
    background-color: #4A3C40;
    min-width: 350px;
}

.popover-body {
    font-size: 16px;
    color: #ffffff !important;
}

.bs-popover-top > .arrow::after {
    border-top-color: #4A3C40;
}

.bs-popover-right > .arrow::after {
    border-right-color: #4A3C40;
}

.bs-popover-left > .arrow::after {
    border-left-color: #4A3C40;
}

.bs-popover-bottom > .arrow::after {
    border-bottom-color: #4A3C40;
}

.btn-premium {
    background: #387EBF;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2), inset -1px -1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 13px 31px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.btn-premium:hover,
.btn-business:hover {
    color: rgba(0,0,0,0.7);
}

.btn-business {
    background: #F7AF00;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2), inset -1px -1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 13px 31px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

form.paymentform .custom-control-label {
    cursor: pointer;
}

form.propertiesform a {
    text-decoration: underline;
}

span.propertiesNumber {
    font-size: 32px;
}

.slidervalues span {
    width: 25px;
    text-align: center;
}

.slidervalues {
    font-size: 12px;
    color: #000000;
}

.partner {
    margin-left: 20px;
    margin-right: 20px;
}

@media (min-width:768px) {
    .mw-lg-50 {
        max-width: 50%;
    }
}

@media (max-width:576px) {
    .jumbotron h4 {
        font-size: 1.5rem;
    }

    .jumbotron h5 {
        font-size: 1.2rem;
    }

    .experts h6 {
        font-size: 1.9rem;
    }

    .socialproof-author {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

}

@media (max-width:768px) {
  .concurso .container {
    flex-direction: column;
  }
}

@media (min-width:576px) {
    .jumbotron span.text-warning {
        white-space: nowrap;
    }
}
